/* General setup */

* {
    box-sizing: border-box;
  }

  html{
    font-size: 10px;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /*editing the fonts*/


  @font-face {
    font-family: 'lemon_milklight';
    src: url('lemonmilk-light-webfont.woff2') format('woff2'),
         url('lemonmilk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  @font-face {
    font-family: 'lemon_milkregular';
    src: url('lemonmilk-regular-webfont.woff2') format('woff2'),
        url('lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
  font-family: 'lemon_milkregular';
  font-size: 10px;
}
h1,h2{
  font-family: 'lemon_milklight';
  font-size: 40px;
}
