
html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  div {
    width: 200px;
    height: 200px;
    line-height: 8.7;
    inline-size: 10em;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.12rem;/* font size is set in 1.12 rems.*/
    text-align: center;
    display: flex;
    align-items: center;
    background-color: red;
    text-shadow: 1px  1px  1px black;
    color: white;
    
    
    
  }