
html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  div {
    width: 200px;
    margin: auto;
    line-height: 8.7;
    font-size: 1.1rem;
    text-align: center;
    background-color: red;
    text-shadow: 1px  1px  1px black;
    color: white;
    
    
    
  }